#div1 {
	border: solid 3px black;
	height: 144px;
    width: 100px;
}

#div2 {
	border: solid 3px black;
	height: 144px;
    width: 100px;
}

#div3 {
	border: solid 3px black;
	height: 144px;
    width: 100px;
}

#img {
	height: 144px;
    width: 100px;
}

