#window {
    border: black 1px solid;
    height: 90vh;
    width: 90vw;
    display: flex;
}

#div1, #div2 {
    border: blue 1px solid;
    height: 200px;
    width: 200px;
}

#div3, #div4 {
    border: red 1px solid;
    height: 200px;
    width: 150px;  
}

#div5, #div6 {
    border: purple 1px solid;
    height: 200px;
    width: 150px;
}

#div7, #div8 {
    border:orange 1px solid;
    height: 200px;
    width: 150px;
}